Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd 
data=[4, 8, 15, 16, 23, 42]
df=pd.DataFrame(data)
print(df)

    0
0   4
1   8
2  15
3  16
4  23
5  42

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
import pandas as pd 
lst=[1,2,3,4,5,6,7,8,9,10]
df=pd.Series(lst)
print(df)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [7]:
import pandas as pd 
data={'Name':['Alice','Bob','clarie'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  clarie   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame in Pandas is a two-dimensional, size-mutable, heterogeneous tabular data structure with labeled axes (rows and columns). It is a powerful tool for storing and analyzing data.

A Series in Pandas is a one-dimensional array-like object that can hold any data type. It is similar to a NumPy array, but it has an index attached to it. The index can be used to access values in the Series by label, rather than by position.

In [9]:
import pandas as pd
df = pd.DataFrame({
    "Name": ["John Doe", "Jane Doe", "John Smith"],
    "Age": [30, 25, 40],
    "Country": ["USA", "Canada", "UK"]
})
s = pd.Series([1, 2, 3, 4, 5])
print(df)
print(s)

         Name  Age Country
0    John Doe   30     USA
1    Jane Doe   25  Canada
2  John Smith   40      UK
0    1
1    2
2    3
3    4
4    5
dtype: int64

Q5 What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

filter() – This function allows you to filter the rows of a DataFrame based on a certain condition. For example, you could use the filter() function to filter out all rows where the Age column is greater than 30.
sort_values() – This function allows you to sort the rows of a DataFrame by a certain column. For example, you could use the sort_values() function to sort the rows of a DataFrame by the Age column in ascending order.
drop() – This function allows you to drop rows or columns from a DataFrame. For example, you could use the drop() function to drop the Country column from a DataFrame.
replace() – This function allows you to replace values in a DataFrame. For example, you could use the replace() function to replace all occurrences of the value "USA" in the Country column with the value "United States".
apply() – This function allows you to apply a function to each row or column of a DataFrame. For example, you could use the apply() function to calculate the average age of all rows in a DataFrame.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Both Series and DataFrame are mutable, which means that their values can be changed. This is in contrast to Panel, which is a three-dimensional data structure that is not mutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
import pandas as pd 
s1=(["waganor","Alto","safari"],name="Car")
s2=([16,6,32],name="price")
s3=(["CNG","Petrol","Disel"],name="fuel type")
df=pd.Dataframe([s1,s2,s3])
print(df)